<a href="https://colab.research.google.com/github/21PA1A6137/numpy_practice/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [3]:
x=np.array([1,2,3])
print(x)

[1 2 3]

In [4]:
y = np.array([[1,2,3],[4,5,6]])
print(y)

[[1 2 3]
 [4 5 6]]

In [5]:
np.arange(10,40,5)

array([10, 15, 20, 25, 30, 35])

In [6]:
a = np.append(x,[7,8,9])
print(a)

[1 2 3 7 8 9]

In [7]:
b = np.delete(x,2)
print(b)

[1 2]

In [8]:
b = np.array([1,2,3,4,5,6,3,6,2,1])
b[b<4]=-1
print(b)

[-1 -1 -1  4  5  6 -1  6 -1 -1]

In [9]:
a = np.array([10,20,30])
b = np.arange(3)
print(a)
print(b)
print("add  ",a+b)
print("sub  ",a-b)
print("mul  ",a*b)
print("div  ",a/b)
print("power  ",b**4)
print("sin  ",10*np.sin(a))
a[0]+=20
print("update  ",a)
print("matrix mult  ",np.dot(a,b))

[10 20 30]
[0 1 2]
add   [10 21 32]
sub   [10 19 28]
mul   [ 0 20 60]
div   [inf 20. 15.]
power   [ 0  1 16]
sin   [-5.44021111  9.12945251 -9.88031624]
update   [30 20 30]
matrix mult   80

<ipython-input-9-5a5bc740e9c1>:8: RuntimeWarning: divide by zero encountered in true_divide
  print("div  ",a/b)

In [10]:
a=np.arange(10)**3
print(a)
print(a[3])
print(a[2:6])
print(a[3:7])
print(a[-1])
print(a[-5:-2])

[  0   1   8  27  64 125 216 343 512 729]
27
[  8  27  64 125]
[ 27  64 125 216]
729
[125 216 343]

In [11]:
a = np.arange(16).reshape(4,4)**2
print(a)

[[  0   1   4   9]
 [ 16  25  36  49]
 [ 64  81 100 121]
 [144 169 196 225]]

In [12]:
print("second and third rows  ",a[1:3])
print("second column from second and third rows  ",a[1:3,1:2])

second and third rows   [[ 16  25  36  49]
 [ 64  81 100 121]]
second column from second and third rows   [[25]
 [81]]

In [13]:
print("third row  ",a[2,])
print("first,second and third rows  ",a[:3,])
print("last row  ",a[-1,])

third row   [ 64  81 100 121]
first,second and third rows   [[  0   1   4   9]
 [ 16  25  36  49]
 [ 64  81 100 121]]
last row   [144 169 196 225]

In [14]:
print("element at second row and third column  ",a[1,2])

element at second row and third column   36

In [15]:
a = np.arange(12).reshape(4,3)**2
print(a)
print("\n")
for i in a:
  print(i*2)

[[  0   1   4]
 [  9  16  25]
 [ 36  49  64]
 [ 81 100 121]]


[0 2 8]
[18 32 50]
[ 72  98 128]
[162 200 242]

In [18]:
a=np.floor(10*np.random.random((3,4)))
print(a)
print("\n")
print(a.reshape(4,3))
print("\n")
print("flatten the array  ",a.ravel())
print("\n")
print("transpose  ",a.T)

[[8. 3. 1. 1.]
 [0. 7. 5. 5.]
 [7. 6. 3. 1.]]


[[8. 3. 1.]
 [1. 0. 7.]
 [5. 5. 7.]
 [6. 3. 1.]]


flatten the array   [8. 3. 1. 1. 0. 7. 5. 5. 7. 6. 3. 1.]


transpose   [[8. 0. 7.]
 [3. 7. 6.]
 [1. 5. 3.]
 [1. 5. 1.]]